/* .container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
    padding: 24px;
    background: linear-gradient(to left, #000000, #383838, #585858);
  }
  
  .card {
    width: 100%;
    max-width: 25rem;
    background-color: #ffffff;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  }

.form {
    padding: 2.5rem;
  }
  
  .title {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 1.25rem;
  }
  
  .label {
    display: block;
    width: 100%;
  }
  
  .label-text {
    display: block;
    font-size: 0.875rem;
    color: #4B5563;
    font-weight: 700;
    text-transform: uppercase;
  }
  
  .input {
    width: 100%;
    margin-top: 0.25rem;
    text-align: center;
    color: #4B5563;
    border-bottom: 2px solid;
  }
  
  .input:focus {
    outline: none;
    border-color: #34D399;
  }
  
  .submit-button {
    width: 100%;
    padding: 0.5rem 0;
    margin-top: 2rem;
    font-size: 0.875rem;
    font-weight: 600;
    color: #FFFFFF;
    background: linear-gradient(to right, #059669, #10B981, #22D3EE);
    border-radius: 9999px;
    outline: none;
  }
  
  .forgot-password {
    margin-top: 1.5rem;
    font-size: 0.875rem;
    font-weight: 600;
    text-align: center;
    color: #4B5563;
    cursor: pointer;
  }
  
  .forgot-password:hover {
    color: #EF4444;
  }
  
  .register-link {
    display: block;
    margin-top: 1.5rem;
    font-size: 0.875rem;
    font-weight: 700;
    text-align: center;
    color: #4B5563;
  }
  
  .register-link:hover {
    color: #1D4ED8;
  }
  
  .social-media-icons {
    margin-top: 2.5rem;
    text-align: center;
  }
  
  .social-media-icon {
    width: 2.5rem;
    height: 2.5rem;
    cursor: pointer;
  }
   */